{% extends 'base.html.twig' %}

{% block title %} Découvrez le Cameroun entre filles | {{parent()}}{% endblock %}

 {% block body %}
   <section id="slider" class="slider-element full-screen clearfix" style="background: url('images/sliders/slider2.jpg') center right no-repeat; background-size: cover;">
        <div class="vertical-middle">
            <div class="container clearfix">
                <div class="slider-parallax-inner">
                        <div class="vertical-middle dark">
                            <div class="nobottommargin tright">
                                <div class="vertical-middle">
                                    <div class="container clearfix tleft">
                                        <div style="margin-bottom:-30px; text-shadow: 3px 3px 3px rgba(0,0,0,0.5)!important;">
                                            <h3>Hellooooo Nyango !!!</h3>
                                            <h3>Tu aimes voyager à travers le Cameroun ?</h3>
                                            <h3>Découvrir ses magnifiques régions ?</h3>
                                            <h3>Hélas, il n'y a personne avec qui partager tes délires d'évasion ?</h3>
                                            <h3>Alors voyageons ensemble et partageons une expérience</h3>
                                             <span class="text-rotater nocolor" data-separator="|" data-rotate="bounceIn" data-speed="2500">
                                                    <span class="t-rotate melon">Fun|Riche|Unique|Instructive|Inoubliable</span>.
                                                </span>
                                        </div>
                                       <div class="center">
                                             <a href="{{path('trip_new')}}" class="button button-border button-light button-rounded button-reveal button-large topmargin"><i class="icon-signin"></i><span>Enregistre un voyage</span></a>
                                       </div>
                                    </div>
                                </div>
                        
                        </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
         <div class="content-wrap">

            <section id="section-about" class="page-section">

                <div class="container clearfix">
                    <div class="heading-block divcenter nobottomborder nobottommargin center">
                        <i class="icon-group d-block h1 mb-4" style="color:#f8a055;"></i> 
                    </div>        
                    <div class="heading-block center"><h2>Qui sommes-nous ?</h2></div>
                    <div class="container clearfix">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 bottommargin-sm">
                                <div class="feature-box media-box fbox-bg">
                                    <div class="fbox-media">
                                        <a href="#"><img class="image_fade" src="images/img/bus.jpg" alt="photo d'un bus de voyage"></a>
                                    </div>
                                    <div class="fbox-desc noborder">
                                        <h3 class="nott ls0 t600 center">Une plateforme collaborative
                                            <span class="subtitle t300 ls0" style="font-family:'Roboto', sans-serif; text-align:justify;">Nous mettons en relation, entre elles, des femmes passionnées de voyages et avides de découvertes. L'objectif principal est de développer  le tourisme au sein du Cameroun, le tout dans une ambiance 100% féminine, fun et décontractée et qui tient compte des centres d'intérêt des voyageuses.
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 bottommargin-sm">
                                <div class="feature-box media-box fbox-bg">
                                    <div class="fbox-media">
                                        <a href="#"><img class="image_fade" src="images/img/womeningrass.jpg" alt="photo de femmes assises sur l'herbe">
                                        </a>
                                    </div>
                                    <div class="fbox-desc noborder">
                                        <h3 class="nott ls0 t600 center">Un concentré de sororité
                                            <span class="subtitle t300 ls0" style="font-family:'Roboto', sans-serif; text-align:justify;">Au placard l'idée erronée selon laquelle les monde des femmes est compliqué. Evadez-vous en compagnie de femmes ayant les mêmes aspirations et centres d'intérêts que vous. Des femmes que vous ne connaissez pas et qui deviennent des amies pour la vie par la suite. Vive le partage d'expériences et l'entraide.
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 bottommargin-sm">
                                <div class="feature-box media-box fbox-bg">
                                    <div class="fbox-media">
                                        <a href="#"><img class="image_fade" src="images/img/piggy.jpg" alt="photo de tirelire">
                                        </a>
                                    </div>
                                    <div class="fbox-desc noborder">
                                        <h3 class="nott ls0 t600 center">
                                            Une solution économique.
                                            <span class="subtitle t300 ls0" style="font-family:'Roboto', sans-serif; text-align:justify;">
                                                Partagez ensemble tous les frais liés à votre escapade et faites vous plaisir à prix tout doux.  Nous vous proposons également des locations sur place à des tarifs concurrentiels.
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="center nomargin">
                             <a href="#" class="button button-border button-light button-rounded button-reveal button-large topmargin"><i class="icon-signin"></i><span>Comment ça fonctionne ?</span></a>
                        </div>
                    </div>
                </div>
            </section>

        </div>
                        
        <div class="container clearfix"></div>

        <div class="section parallax dark nobottommargin" style="background-image: url('images/sliders/slider1.jpg'); padding: 100px 0;" data-stellar-background-ratio="0.4">

            <div class="container clearfix">

                <div class="center nobottomborder">
                    <div class="heading-block center">
                        <div class="heading-block divcenter nobottomborder nobottommargin center">
                            <i class="icon-smile-wink1 d-block h1 mb-4" style="color:#ffffff;"></i> 
                        </div>
                        <h2 style="color:#ffffff;">Alors interessée ?</h2>
                    </div>
                </div>
                <div class="center">
                    <a href="{{path('trip_new')}}" data-animate="tada" class="button button-border button-light button-rounded button-reveal button-large topmargin" ><i class="icon-line-briefcase"></i> Enregistre un voyage</a> - <span class="b">OU</span> -
                    <a href="{{path('ad_new')}}" data-animate="tada" class="button button-border button-light button-rounded button-reveal button-large topmargin"><i class="icon-hotel"></i> Accueille des voyageuses</a>
                </div>
            </div>
        </div>
    </section>

    <div class="clear"></div>

<div class="section bg1 mt-4" style="padding: 120px 0;">
    <div class="container">
            <div class=" divcenter center" style="max-width: 600px">
                <div class="heading-block center">
                    <div class="heading-block divcenter nobottomborder nobottommargin center">
                        <i class="icon-paper-plane d-block h1 mb-4" style="color:#f8a055;"></i> 
                    </div>
                    <h2>Prochains voyages</h2>
                    <p style ="font-family:'Roboto', sans-serif; color:#5d3e51; font-weight:bold;">Girl Tripeuse, voici les derniers trajets enregistrés par la communauté.</p>
                </div>          
            </div>
            <div class="row justify-content-between">
           
            {% for lastTrip in lastTrips %}   
                <div class="col-lg-4">  
                    <div class="media row">
                        <img style="width:60px!important; height:60px!important;" src="{{lastTrip.trip.traveller.picture}}" alt="Avatar de {{lastTrip.trip.traveller.fullName}}"  class="alignleft img-circle img-thumbnail nomargin image_fade testi-image">
                        <div class="col-sm-7 media-body mb-5">
                            <h3 class="mb-3" style ="font-family:'Cabin Sketch', cursive; color:#4897d8!important; font-weight:bold;"><i class="icon-map-signs"></i> {{lastTrip.trip.departure}} - {{lastTrip.trip.arrival}}</h3>
                            <li class="mb-3" style="list-style-type:none;"> <i class="icon-user1"></i><strong> Créé par  {{lastTrip.trip.traveller.fullName}}</strong></li>
                            <li class="mb-3" style="list-style-type:none;"><i class="icon-calendar2"></i><strong> Le {{format_created_at_trip(lastTrip.trip)}}</strong> </li>
                            <li class="mb-3" style="list-style-type:none;"><i class="icon-money"></i> <strong>Prix <span class="badge"> {{lastTrip.trip.price|number_format(0,'.',' ')}} FCFA</span></strong> </li>
                            <li class="mb-3" style="list-style-type:none;" ><a href="#"><i class="icon-line2-speech" style="font-size:15px;"></i><blockquote style="line-height:18px;">{{ lastTrip.trip.description|truncate(100, false)|nl2br }}</blockquote></a></li>
                            <li class="mb-3" style="list-style-type:none;" ><a href="{{path('user_indexTripComments', {'slug': lastTrip.trip.traveller.slug})}}"><i class="icon-comments"style="font-size:15px;"></i> Voir les tous avis sur <strong>{{ lastTrip.trip.traveller.firstName }}</strong></a></li>
                            {% if tripCommentsOnUser|length < 1 %}
                             <li class="mb-3" style="list-style-type:none;" ><a href="#"><i class="icon-comments"style="font-size:15px;"></i> Il n'y a pas encore de commentaire sur {{ lastTrip.trip.traveller.firstName }}</a></li>
                             {% endif %}
                            <li style="list-style-type:none; margin-top:10px;"><a href="{{ path('trip_view', {'slug' : lastTrip.trip.slug}) }}" class="button button-shadow button-rounded t400 ls0 nomargin nott"><i class="icon-signin"></i><span>En savoir plus </span></a></li>                          
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="center">
                 <a href="{{path('trip_index')}}" class="button button-border button-light button-rounded button-reveal button-large topmargin"><i class="icon-signin"></i><span>Voir tous les voyages</span></a>
            </div>
    </div>
</div>
   <div class="clear"style="margin-top: -50px;"></div>

<div class="section bg1" style="padding: 120px 0;">
    <div class="container">
            <div class=" divcenter center" style="max-width: 600px;">
                <div class="heading-block center">
                    <div class="heading-block divcenter nobottomborder nobottommargin center">
                        <i class="icon-line2-home d-block h1 mb-4" style="color:#f8a055;"></i> 
                    </div>
                    <h2>Logements Stars disponibles</h2>
                    <p style ="font-family:'Roboto', sans-serif; color:#5d3e51; font-weight:bold;">Girl Tripeuse, voici les offres d'hébergement les mieux notées et enregistrées par la communauté. Appartements, chambres chez l'habitant pour tous les budgets.</p>
                </div>             
            </div>                
            <div class="row justify-content-between">
            {% for bestAd in bestAds %}
            
                <div class="col-lg-6">
                    <div class="media row">
                        <img style="width:120px!important; height:120px!important;" src="{{bestAd.ad.author.picture}}" alt="Avatar de {{bestAd.ad.author.fullName}}"  class="alignleft img-circle img-thumbnail nomargin image_fade testi-image"> 
                        <div class="col-sm-7 media-body mb-5">
                            <h3 class="mb-3" style ="font-family:'Cabin Sketch', cursive; color:#5d3e51!important; font-weight:bold;">{{bestAd.ad.title}}</h3>
                            {% if bestAd.ad.adComments |length > 0 %}
				                <p style:"text-align:center; font-weight:bold;">{% include 'inc/rating.html.twig' with {'rating':bestAd.ad.avgRatings}  %}</p>
				            {% else %}
				                <p style:"text-align:center; font-weight:bold!important;">Ce logement n'a pas encore été noté.</p>
				            {% endif %}
                             <li class="mb-3" style="list-style-type:none;"><i class="icon-user3"></i> <strong>Loué par {{bestAd.ad.author.fullName}}</strong></li>
                            <li class="mb-3" style="list-style-type:none;"><i class="icon-line-map"></i> <strong>Situé à {{ bestAd.ad.location }}</strong></li>
                            <li class="mb-3" style="list-style-type:none;"><i class="icon-bed"></i><strong> {{bestAd.ad.rooms}} chambres disponibles</strong> </li>
                            <li class="mb-3" style="list-style-type:none;"><i class="icon-money"></i><strong> Prix: <span class="badge"> {{bestAd.ad.price|number_format(0,'.',' ')}} FCFA</span></strong> </li>
                            <li class="mb-3" style="list-style-type:none;" ><a href="#"><i class="icon-line2-speech" style="font-size:15px;"></i><blockquote style="line-height:18px;">{{ bestAd.ad.introduction|truncate(100, false) }}</blockquote></a></li>
                            <li style="list-style-type:none;" ><a href="{{path('user_indexAdComments', {'slug': bestAd.ad.author.slug})}}"><i class="icon-comments"style="font-size:15px;"></i> Voir tous les avis sur <strong>{{ bestAd.ad.author.fullName }}</strong></a></li>
                             {% if adCommentsOnUser|length < 1 %}
                             <li class="mb-3" style="list-style-type:none;" ><a href="#"><i class="icon-comments"style="font-size:15px;"></i> Il n'y a pas encore de commentaire sur {{ bestAd.ad.author.fullName }}</a></li>
                             {% endif %}
                            <li style="list-style-type:none; margin-top:10px;"><a href="{{ path('ad_view', {'slug' : bestAd.ad.slug}) }}" class="button button-shadow button-rounded t400 ls0 nomargin nott"><i class="icon-signin"></i><span>En savoir plus sur ce logement</span></a></li>
                            
                        </div>
                    </div>
                </div>
            
            {% endfor %}

            </div>
            <div class="center">
                  <a href="{{path('ad_index')}}" class="button button-border button-light button-rounded button-reveal button-large topmargin"><i class="icon-signin"></i><span>Voir toutes les offres de location</span></a>
                  <p style ="font-family:'Roboto', sans-serif; color:#5d3e51; font-weight:bold; font-size:20px; margin-top:60px;">Sinon, sélectionner des critères pour une recherche précise.</p>
                    <form action="#" method="post" role="form" class="landing-wide-form clearfix">
                        <div class="col_four_fifth nobottommargin">
                            <div class="col_one_third nobottommargin">
                                <input type="date" class="form-control input-lg not-dark" value="" placeholder="Date de départ*">
                            </div>
                            <div class="col_one_third nobottommargin">
                                <input type="text" class="form-control input-lg not-dark" value="" placeholder="Lieu de départ*">
                            </div>
                            <div class="col_one_third col_last nobottommargin">
                                <input type="text" class="form-control input-lg not-dark" value="" placeholder="Lieu de destination*">
                            </div>
                        </div>
                        <div class="col_one_fifth col_last nobottommargin">
                            <button class="btn btn-lg btn-danger btn-block nomargin" value="submit" type="submit" style=""><i class="icon-search3"></i></button>
                        </div>
                    </form>
                </div>   
    </div>
</div>
 
{% endblock %}

