
    <div id="posts" class="events small-thumbs">
    
			{% set url = path('trip_view', {'slug': trip.slug})%}
			<div class="entry clearfix">
				<div class="entry-image">
					<a href="{{url}}">
						<img src="{{trip.coverImage}}" alt="Photo du voyage {{trip.departure}} - {{trip.arrival}}">
					    <div class="entry-date"><span style="font-weight:bold; font-size:15px;"> {{format_date_departure(trip)}}</span></div>
                    </a>
                </div>    
				<div class="entry-c">
					<div class="entry-title">
						<h2><a href="{{url}}"><i class="icon-map-marker2"></i> {{trip.departure}} - {{trip.arrival}}</a>
							{% if trip.numberPersons == 0 %}
								<p class="badge badge-warning" style="float:right; text-transform:none;">Voyage complet</p>
							{% endif %}
						</h2>
						{% if trip.tripComments |length > 0 %}
						<p style:"text-align:center; font-weight:bold;">{% include 'inc/rating.html.twig' with {'rating':trip.avgRatings}  %}</p>
						{% else %}
						<p style:"text-align:center; font-weight:bold!important;">Ce voyage n'a pas encore été noté.</p>
						{% endif %}
					</div>
					<ul class="entry-meta clearfix">
						<li><span class="badge badge-warning">{% if trip.category.name == 'bus' %}<i class="icon-bus-alt"></i> {% else %} <i class="icon-car-alt"></i>{% endif %}</span></li>
						<li><span style="font-weight:bold; font-size:15px; font-family:'Cabin Sketch', cursive; color:#333;"><i class="icon-users"></i> Groupe de {{trip.fixedNumberPersons}} personnes</span></li>
						{% if trip.numberPersons == 0 %}
						<li><span style="font-weight:bold; font-size:15px; font-family:'Cabin Sketch', cursive; color:#333;"><i class="icon-bookmark2"></i> Plus de place disponible pour ce voyage</span></li>
						{% else %}
						<li><span style="font-weight:bold; font-size:15px; font-family:'Cabin Sketch', cursive; color:#333;"><i class="icon-bookmark2"></i> Encore {{trip.numberPersons}} places disponibles pour ce voyage</span></li>{#Gérer le pluriel#}
						{% endif %}
					</ul>
					<div class="entry-content">
						<p style:"text-align:justify;">{{trip.description|truncate(150, true)}}</p>
						{% if app.user == trip.traveller %}
						<div class="row">
							<div class="col-md-6"><a href="{{url}}" class="btn btn-secondary">Plus d'infos sur ce voyage</a> </div>
							<div class="col-md-6"><a href="{{path('trip_edit', {'slug':trip.slug})}}" class="btn btn-warning">Modifie ton voyage</a></div>
							
						</div>	
						{% else %}
						<div class="row">
							<div class="col-md-6">
								<a href="{{url}}" class="btn btn-secondary">Plus d'infos sur ce voyage</a>
							</div>

							{% if trip.numberPersons != 0 %}
								<div class="col-md-6">
									<a href="{{path('tripBooking_new', {'slug':trip.slug})}}" class="btn btn-danger">Réserve ce voyage</a>
								</div>
							{% endif %}
							
						</div>
						{% endif %}		
					</div>
				</div>
			</div>
      
	</div>

