{% extends 'base.html.twig' %}

{% block title %} Détail du voyage {{trip.slug}}| {{parent()}}{% endblock %}

{% block body %}

<!-- Content
============================================= -->
<div id="slider" class="slider-element full-screen clearfix" style="background: url('/images/banners/banner5.jpg') center right no-repeat; background-size: cover; height:200px;"></div>
<section id="content">
{% set t = trip.traveller %}
	<div class="content-wrap">
		<div class="single-event">
			<div class="entry-image parallax header-stick" style=" height:500px" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
				<div class="heading-block divcenter nobottomborder nobottommargin">
													<!-- Page Title
						============================================= -->

						<div class="container clearfix">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{{path('homepage')}}"><i class="icon-line2-home"></i> Accueil</a></li>
								<li class="breadcrumb-item"><a href="{{path('trip_index')}}"><i class="icon-list"></i> Liste des trajets</a></li>
								<li class="breadcrumb-item active" aria-current="page"><i class="icon-image"></i> Détail du trajet</li>
							</ol>
						</div>
                    <i class="icon-sitemap d-block h1 mb-4" style="color:#f8a055; margin-top:20px; margin-left:100px;"></i> 
                </div>        
                <div id="single" class="heading-block">
                    <h2 style="margin-left:100px;">Trajet {{trip.departure}} - {{trip.arrival}}</h2>
					{% if app.user is same as (trip.traveller) %}
                    <p style ="font-family:'Roboto', sans-serif; color:#5d3e51; font-weight:bold; margin-left:100px;">
						{{app.user.firstName}}, voici toutes les informations relatives à ton voyage.</p>
					{% else %}
					 <p style ="font-family:'Roboto', sans-serif; color:#5d3e51; font-weight:bold; margin-left:100px;">
						{{app.user.firstName}}, voici toutes les informations relatives au voyage de {{trip.traveller.firstName}}.</p>
					{% endif %}
                </div>
				{% set unitPrice = trip.price/trip.fixedNumberPersons %}
                <div class="entry-overlay-meta" style="margin-bottom:-140px;">
					<h2 style="text-transform:none; font-family:'Cabin Sketch', cursive; font-size:20px;" class="center"><a href="#">{{trip.departure}} - {{trip.arrival}}</a></h2>
					<ul class="iconlist" style="margin-left:40px; font-family:'Roboto', sans-serif;">
						<li style="font-size:15px;"><i class="icon-calendar3"></i> <strong>Date de départ: le {{format_date_departure(trip)}}</strong> </li>
						<li style="font-size:15px;"><i class="icon-time"></i> <strong>Heure de départ: {{trip.tripHour| date('H:i')}}</strong> </li>
						<li style="font-size:15px;"><i class="icon-calendar3"></i> <strong>Date de retour: le {{format_date_return(trip)}}</strong> </li>
						<li style="font-size:15px;"><i class="icon-user2"></i> <strong>Voyage proposé par {{t.fullName}} </li></strong>
						<li style="font-size:15px;"><i class="icon-users1"></i> <strong>Groupe de {{trip.fixedNumberPersons}} personnes  </strong> </li>
						<li style="font-size:15px;"><i class="icon-move"></i> <strong>Mode de transport: {{ trip.category.name}}</strong></li>
						<li style="font-size:15px;"><i class="icon-money"></i> <strong>Prix total: {{trip.price|number_format(0,'.',' ')}} FCFA soit<br> la place de voyage à {{unitPrice|number_format(0,'.',' ')}} FCFA</strong></li>
					</ul>
					{% if trip.numberPersons != 0 %}
						<div class="center">
                            <a href="{{path('tripBooking_new', {'slug': trip.slug})}}" class="button button-border button-light button-rounded button-reveal button-large topmargin">Réserve ce voyage</a>
                        </div>
					{% endif %}
				</div>
			</div>
			<div class="container clearfix">
				<div class="postcontent nobottommargin clearfix"> 
					<div class="col_three_fourth">
						<h3 style="margin-top:-350px;"></h3>
						 <h3 style="margin-top:20px; font-family:'Cabin Sketch', cursive;font-size:17px;color:#4897d8!important;">Description du voyage</h3>
						<p style="margin-top:20px!important; text-align:justify;">{{trip.description}}</p>
						<div class="entry-image">
							{% if trip.fileName %}
                            <a href="">
                            	<img style="width:100%; height:auto;" src="{{vich_uploader_asset(trip, 'imageFile') | imagine_filter('medium')}}" alt="Photo de l'image du voyage {{trip.departure}} - {{trip.arrival}} ">
                            </a>
							{% else %}
							<a href="">
                            	<img style="width:100%; height:auto;" src="/images/img/imagedefault.jpg" alt="Photo de l'image du voyage par défaut {{trip.departure}} - {{trip.arrival}} ">
                            </a>
							{% endif %}
                        </div>
						<h3 style="margin-top:20px; font-family:'Cabin Sketch', cursive;font-size:17px;color:#4897d8!important;">Option(s) du voyage</h3>                    
						<div class="col_half nobottommargin">
							<ul class="iconlist nobottommargin">
							{% for tripOption in trip.tripOptions %}
								<li><i class="icon-ok"></i>{{tripOption.name}}</li>
							{% endfor %}
							</ul>
						</div>
						<div class="clear"></div>
						{% if app.user == trip.traveller %}
						 <div class="center" style="margin-bottom:50px;">
                            <a href="{{path('trip_edit', {'slug':trip.slug})}}" class="button button-border button-light button-rounded button-reveal button-large topmargin">Modifie ton voyage</a>
							<a href="{{path('trip_delete', {'slug':trip.slug})}}" class="button button-border button-light button-rounded button-reveal button-large topmargin" onclick="return confirm(`Es tu sûre de vouloir supprimer ton voyage {{trip.departure}} - {{trip.arrival}} ?`)">Supprime ton voyage</a>
                        </div>
						{% endif %}
						
						{% if trip.numberPersons == 0 %}
							<h4 style="font-family:'Cabin Sketch', cursive;font-size:17px; color:#4897d8;">{{app.user.firstName}}, il n'y a plus de place disponible pour ce voyage. <br> Tu peux créer un nouveau voyage <a href="{{path('trip_new')}}">ici</a>.</h4>{#Gérer le pluriel#}
						{% else %}
							<p style ="margin-top:15px; font-family:'Roboto', sans-serif; color:#5d3e51; font-weight:bold;">{{app.user.firstName}}, encore {{trip.numberPersons}} places disponibles pour ce voyage.</p> {# Gérer le pluriel#}
						{% endif %}

						{% if trip.tripBookings is empty %}
						<p style ="margin-top:15px; font-family:'Roboto', sans-serif; color:#5d3e51; font-weight:bold;">Ce voyage ne possède pas encore de réservations pour le moment. <br> Sois la première à le réserver.</p>
						{% else %}
						<h4 style="margin-top:15px; font-family:'Cabin Sketch', cursive;font-size:17px; color:#4897d8;">Ces GirlsTripeuses participent également à ce voyage:</h4>
						{% endif %}
				
						<div id="posts" class="events small-thumbs">
							{% for booking in trip.tripBookings %}
							
							<div class="entry clearfix">
									{% if app.user == booking.tripBooker %}
									<div class="entry-image">
										<a href="{{path('user_view', {'slug': booking.tripBooker.slug})}}">
											<img style="width:130px!important;" src="{{booking.tripBooker.picture}}" alt="Avatar de {{booking.tripBooker.fullName}}"  class="alignleft img-circle img-thumbnail nomargin image_fade testi-image">
										</a>
									</div>
									{% else %}
									<div class="entry-image">
										<a href="{{path('user_view', {'slug': booking.tripBooker.slug})}}">
											<img style="width:150px!important;" src="{{booking.tripBooker.picture}}" alt="Avatar de {{booking.tripBooker.fullName}}"  class="alignleft img-circle img-thumbnail nomargin image_fade testi-image">
										</a>
									</div>
									{% endif %}   
									<div class="entry-c">
									{% if app.user == booking.tripBooker %}

										<div class="entry-title">
											<h2><a href="#"><i class="icon-female1"></i> Hello {{app.user.firstName}} <i class="icon-smile-beam1"></i></a></h2>
										</div>
									{% else %}
										<div class="entry-title">
											<h2><a href="#"><i class="icon-female1"></i> {{booking.tripBooker.fullName}}</a><p class="badge badge-warning" style="float:right; text-transform:none;">{{booking.numberPlaces}} places{#Gérer le pluriel#}</p></h2>
										</div>
									{% endif %}
									{% if app.user == booking.tripBooker %}
										<div class="entry-content">
											<p style:"text-align:justify;">Tu as également réservé {{booking.numberPlaces}} places {# gérer le pluriel#} pour ce voyage.</p>		
										</div>
									{% else %}
										<div class="entry-content">
											<p style:"text-align:justify;">{{booking.tripBooker.introduction}}</p>
										
											<div class="row">
												<div class="col-md-12">
													<a href="{{path('user_view', {'slug': booking.tripBooker.slug})}}" class="btn btn-danger">Plus d'infos sur {{booking.tripBooker.firstName}}</a>
												</div>
												
											</div>
											
										</div>
									{% endif %}
									
									</div>
								</div>
								{% endfor %}
							</div>
					<div class="clear"></div>
			
				
					<div class="clear"></div>
					<div id="posts" class="events small-thumbs">
						{% if trip.tripComments | length > 0 %}
							<h3 style="margin-top:20px; font-family:'Cabin Sketch', cursive;font-size:17px;color:#4897d8!important;">Commentaires des GirlsTripeuses sur le voyage {{trip.departure}} - {{trip.arrival}} de {{trip.traveller.fullName}}</h3>
							<div class="alert alert-warning">
								<h4 class="alert-heading text-center">
									<div class="row align-items-center">
										<div class="col">
											Note globale donnée par nos GirlsTripeuses
										</div>
										<div class="col ">
											{% include 'inc/rating.html.twig'  with {'rating': trip.getAvgRatings()} %}
											<br>
											<small>(Calculée sur {{trip.tripComments|length}} avis)</small>
										</div>
									</div>
								</h4>
							</div>
							{% for tripComment in trip.tripComments %}
								<div class="entry clearfix">
									
									<div class="entry-image">
										<a href="{{path('user_view', {'slug': tripComment.author.slug})}}">
											<img style="width:130px!important;" src="{{tripComment.author.picture}}" alt="Avatar de {{tripComment.author.fullName}}"  class="alignleft img-circle img-thumbnail nomargin image_fade testi-image">
										</a>
									</div>
									<div class="entry-c">

										<div class="entry-title">
											<h2><a href="#"><i class="icon-comment2"></i> <strong>{{tripComment.author.fullName}}</strong> a dit:</a></h2>
										</div>
										<div class="entry-content">
											<blockquote style:"text-align:justify;"><strong>{{tripComment.content|nl2br}}</strong></blockquote>
											<p style ="font-family:'Roboto', sans-serif; color:#5d3e51; font-weight:bold;">Note donnée par {{tripComment.author.firstName}}: 	
												{% include 'inc/rating.html.twig' with {'rating': tripComment.rating} %}
											</p>
											
										</div>				
									</div>
								</div>						
							{% endfor %}
						{% else %}
							<p style ="font-family:'Roboto', sans-serif; color:#5d3e51; font-weight:bold;">Ce voyage n'a pas encore reçu de commentaires pour le moment.</p>
						{% endif %}

					</div>					
					</div>

				</div>
				<div class="sidebar nobottommargin col_last clearfix">
					<div class="sidebar-widgets-wrap">
						<div class="widget clearfix">
							<h4 style="margin-top:-0px; font-family:'Cabin Sketch', cursive;font-size:17px;"><a href="#" style="color:#4897d8!important; text-transform:none;" ><i class="icon-user-alt h1"></i> Créatrice du voyage</a></h4>
							<div id="post-list-footer">
								<div class="spost clearfix">
									<div class="entry-image">
							
										<a href="{{path('user_view', {'slug': t.slug})}}" class="nobg">
										
											{% if trip.fileName %}
													<img style="width:200px!important;" src="{{vich_uploader_asset(t, 'avatarFile') | imagine_filter('medium')}}" alt="Avatar de {{t.fullName}}" class="alignleft img-circle img-thumbnail nomargin image_fade testi-image">
											{% else %}
													<img style="width:200px!important;" src="/images/img/avatardefault.jpg" alt="Avatar par défaut de {{t.fullName}}" class="alignleft img-circle img-thumbnail nomargin image_fade testi-image">
											{% endif %}								
										</a>
									</div>
									<div class="entry-c">
										<div class="entry-title mb-3">
											<h4><a href="{{path('user_view', {'slug': t.slug})}}">{{t.fullName}}</a></h4>
										</div> 
										<span class="badge">
										 {{t.trips|length}} voyages {#voyages pluriel et singulier à gérer#}
										</span>
									</div>
								</div>

								<div class="spost clearfix">
							
									<div class="entry-c">
					
										<div class="entry-title">
											<h4><a style="text-align:justify; font-family:'Roboto', sans-serif;" href="#">{{t.description | raw}}</a></h4>
										</div>
										<div class="center">
											<a href="{{path('user_view', {'slug': t.slug})}}" class="badge">
												En savoir plus sur {{t.firstName}} 	
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="widget clearfix">

							<h4  style="font-family:'Cabin Sketch', cursive; font-size:17px;"><a href="#" style="color:#4897d8!important; text-transform:none;"><i class="icon-line-star h1"></i> Nos locations STARS </a></h4>
								<div id="oc-portfolio-sidebar" class="owl-carousel carousel-widget" data-items="1" data-margin="10" data-loop="true" data-nav="false" data-autoplay="5000">

									<div class="oc-item">
										<div class="iportfolio">
											<div class="portfolio-image">
												<a href="#">
													<img src="images/events/thumbs/3.jpg" alt="Mac Sunglasses">
												</a>
												<div class="portfolio-overlay">
													<a href="http://vimeo.com/89396394" class="center-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
												</div>
											</div>
											<div class="portfolio-desc center nobottompadding">
												<h3><a href="portfolio-single-video.html">Inventore voluptates velit totam ipsa tenetur</a></h3>
												<span><a href="#">Melbourne, Australia</a></span>
											</div>
										</div>
									</div>

									<div class="oc-item">
										<div class="iportfolio">
											<div class="portfolio-image">
												<a href="portfolio-single.html">
													<img src="images/events/thumbs/1.jpg" alt="Open Imagination">
												</a>
												<div class="portfolio-overlay">
													<a href="images/portfolio/full/1.jpg" class="center-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
												</div>
											</div>
											<div class="portfolio-desc center nobottompadding">
												<h3><a href="portfolio-single.html">Nisi officia adipisci molestiae aliquam</a></h3>
												<span><a href="#">Perth, Australia</a></span>
											</div>
										</div>
									</div>

								</div>

						</div>

						<div class="widget clearfix">

							<h4>Recent Event in Video</h4>
							<iframe src="//player.vimeo.com/video/103927232" width="500" height="250" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

						</div>

						<div class="widget quick-contact-widget clearfix">

							<h4>Quick Contact</h4>
							<div class="quick-contact-form-result"></div>
							<form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">
								<div class="form-process"></div>

								<input type="text" class="required sm-form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
								<input type="text" class="required sm-form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
								<textarea class="required sm-form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
								<input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
								<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d nomargin" value="submit">Send Email</button>
							</form>

						</div>

					</div>
				</div>

			</div>

		</div>

	</div>

</section><!-- #content end -->

{% endblock %}
