{% extends 'admin/base.html.twig' %}
{% block title %} Administration des réservations de voyage| {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5 text-center">Gestion des {{tripBookings|length}} réservations de voyage</h1>
		<table class="table table-hover" >
			<thead>
				<tr>
					<th class="text-center">Id</th>
					<th class="text-center">Date</th>
					<th class="text-center">Auteur</th>
          <th class="text-center">Question</th>
					<th class="text-center">Nbre de places</th>
          <th class="text-center">Note</th>
        	<th class="text-center">Voyage</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for tripBooking in tripBookings %}
				<tr>
					<td>{{tripBooking.id}}</td>
          <td>{{tripBooking.createdAt|date('d/Y/m')}}</td>
					<td><img src="{{tripBooking.tripBooker.picture}}" alt="Avatar de {{tripBooking.tripBooker.fullName}}" class="rounded-circle avatar img-thumbnail mr-2">{{tripBooking.tripBooker.fullName}}</td>
          <td>{{tripBooking.comment|nl2br}}</td>
					<td>{{tripBooking.numberPlaces}}</td>
					{% if tripBooking.trip.avgRatings %}
          <td class="text-center"><span class="badge badge-pill badge-info">{{tripBooking.trip.avgRatings| number_format(1,',','')}}<span class="badge badge-pill badge-info"></td>
					{% else %}
					<td>Pas encore de note disponible</td>
					{% endif %}
          <td>{{tripBooking.trip.departure}} - {{tripBooking.trip.arrival}}</td>	
					<td>
						<a href="{{path('admintripbooking_edit', {'id':tripBooking.id})}}" class="btn btn-warning"><i class="icon-edit2"></i></a>
						<a href="{{path('admintripbooking_delete', {'id':tripBooking.id})}}" class="btn btn-danger"><i class="icon-trash-alt1"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		{# <div class="d-flex justify-content-center">
		  <ul class="pagination">
		    <li class="page-item {% if page == 1 %}disabled{% endif %}">
		      <a class="page-link" href="{{path('admin_ads_index', {'page':page - 1 })}}">&laquo;</a>
		    </li>
		    {% for i in 1..pagesNumber %}
		    <li class="page-item {% if page == i %}active{% endif %}">
		      <a class="page-link" href="{{path('admin_ads_index', {'page':i})}}">{{i}}</a>
		    </li>
			{% endfor %}
		    <li class="page-item {% if page == pagesNumber %}disabled{% endif %}">
		      <a class="page-link" href="{{path('admin_ads_index', {'page':page + 1 })}}">&raquo;</a>
		    </li>
		  </ul>
		</div> #}

	</div>
{% endblock %}
