{% extends 'base.html.twig' %}

{% block title %} Création d'une réservation pour l'annonce {{ad.title}} | {{parent()}}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
{% endblock %}
{% block body %}

<div id="slider" class="slider-element full-screen clearfix" style="background: url('/images/banners/banner6.jpg') center right no-repeat; background-size: cover; height:200px;"></div>
<section id="content">
    <div class="content-wrap">
		<div class="container clearfix">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{path('homepage')}}"><i class="icon-line2-home"></i> Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{path('ad_view', {'slug': ad.slug})}}"><i class="icon-image"></i> Détail de l'annonce</a></li>
				<li class="breadcrumb-item active" aria-current="page"><a href="{{path('adBooking_new', {'slug':ad.slug})}}"><i class="icon-line-file-add"></i> Réserver une annonce</a></li>
			</ol>
		</div>			
        <section id="section-about" class="page-section">
            <div class="container clearfix">
                <div class="heading-block divcenter nobottomborder nobottommargin">
                    <i class="icon-line-file-add d-block h1 mb-4" style="color:#f8a055;"></i> 
                </div>        
                <div class="heading-block">
                    <h2>Effectue une réservation pour le logement de <a href="{{path('user_view', {slug:ad.author.slug})}}"><strong>{{ad.author.fullName}}</strong></a>.</h2>
                    <p style ="font-family:'Roboto', sans-serif; color:#5d3e51; font-weight:bold;">{{app.user.firstName}}, ce logement t'intéresse ? <br>Alors réserve le sans hésiter en renseignant tes dates.<br> Tu pourras contacter le propriétaire pour plus de renseignements. </p>
                </div>
                <div class="postcontent nobottommargin">
				{{form_start(adBookingForm,{'attr': {'novalidate': 'novalidate'}})}} 
					
					<div class="form-row">
						<div class="form-group col-md-6">
							{{form_row(adBookingForm.startDate)}}
						</div>
						<div class="form-group col-md-6">
							{{form_row(adBookingForm.endDate)}}
						</div>				
					</div>
                    <h4 style="color:#4897d8; font-weight:bold; font-family:'Cabin Sketch', cursive; font-size:15px;">Montant de ton séjour:
                        <span id="amount">
                            ...
                        </span> FCFA, <br>
                        soit <span id="days"> 0 </span> nuits à <span id="amount"><strong>{{ad.price}} FCFA </strong></span> la nuit.
                    </h4> 
                    <h4 style="color:#4897d8; font-weight:bold; font-family:'Cabin Sketch', cursive;">Une question à poser à {{ad.author.firstName}} ?</h4>
                    <div class="form-group">
                        {{form_row(adBookingForm.comment, {'label':'Ta question', 'attr': {'placeholder' : 'Si tu as une question, n\'hésites pas...'}})}}
                    </div>               
                    <div class="form-group">
                       <div class="center">                                                    
                            <button type='submit' class="button button-border button-light button-rounded button-reveal button-large topmargin">
                                Effectue ta réservation
                            </button>
                        </div>
                    </div>                      
                 {{form_end(adBookingForm)}}              
				</div>
                	<div class="sidebar nobottommargin col_last clearfix">
						<div class="sidebar-widgets-wrap">

							<div class="widget clearfix">

								<div class="entry-title center">
										<h4 style="font-family:'Cabin Sketch', cursive;"><a href="#" style="color:#4897d8!important;" ><i class="icon-line2-home"></i> Nos dernieres annonces de location d'hébergements</a></h4>
								</div>
								<div id="post-list-footer">

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="#" class="nobg"><img src="images/events/thumbs/1.jpg" alt=""></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="#" class="nobg"><img src="images/events/thumbs/2.jpg" alt=""></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="#" class="nobg"><img src="images/events/thumbs/3.jpg" alt=""></a>
										</div>
										<div class="entry-c">
											<div class="entry-title center">
												<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

								</div>

							</div>

							<div class="widget clearfix">

								<div class="entry-title">
										<h4  style="font-family:'Cabin Sketch', cursive;"><a href="#" style="color:#4897d8!important;"><i class="icon-line-star"></i> Nos voyageuses STARS </a></h4>
								</div>
								<div id="oc-portfolio-sidebar" class="owl-carousel carousel-widget" data-items="1" data-margin="10" data-loop="true" data-nav="false" data-autoplay="5000">

									<div class="oc-item">
										<div class="iportfolio">
											<div class="portfolio-image">
												<a href="#">
													<img src="images/events/thumbs/3.jpg" alt="Mac Sunglasses">
												</a>
												<div class="portfolio-overlay">
													<a href="http://vimeo.com/89396394" class="center-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
												</div>
											</div>
											<div class="portfolio-desc center nobottompadding">
												<h3><a href="portfolio-single-video.html">Inventore voluptates velit totam ipsa tenetur</a></h3>
												<span><a href="#">Melbourne, Australia</a></span>
											</div>
										</div>
									</div>

									<div class="oc-item">
										<div class="iportfolio">
											<div class="portfolio-image">
												<a href="portfolio-single.html">
													<img src="images/events/thumbs/1.jpg" alt="Open Imagination">
												</a>
												<div class="portfolio-overlay">
													<a href="images/portfolio/full/1.jpg" class="center-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
												</div>
											</div>
											<div class="portfolio-desc center nobottompadding">
												<h3><a href="portfolio-single.html">Nisi officia adipisci molestiae aliquam</a></h3>
												<span><a href="#">Perth, Australia</a></span>
											</div>
										</div>
									</div>

								</div>


							</div>

							<div class="widget clearfix">

								<h4>Recent Event in Video</h4>
								<iframe src="//player.vimeo.com/video/103927232" width="500" height="250" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

							</div>

							<div class="widget quick-contact-widget clearfix">

								<h4>Quick Contact</h4>
								<div class="quick-contact-form-result"></div>
								<form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">
									<div class="form-process"></div>

									<input type="text" class="required sm-form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
									<input type="text" class="required sm-form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
									<textarea class="required sm-form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
									<input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
									<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d nomargin" value="submit">Send Email</button>
								</form>


							</div>

						</div>
					</div>
            </div>
            
        </section>

       </div>
                        
        <div class="container clearfix"></div>       
</section>

{% endblock %}
{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
  <script>
	$(document).ready(function(){
		$('#ad_booking_startDate, #ad_booking_endDate').datepicker({
			format: 'dd/mm/yyyy',
			datesDisabled:[
				{% for day in ad. getNotAvailableDays %}
					"{{ day.format('d/m/Y')}}",
				{% endfor %}
			],
			startDate: new Date()
		}
			
		);

		$('#ad_booking_startDate, #ad_booking_endDate').on('change', calculateAmount);
	});

	function calculateAmount()
	{
		const endDate 	= new Date($('#ad_booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
		const startDate = new Date($('#ad_booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));

		if(endDate && startDate && endDate > startDate)
		{
			const interval = endDate.getTime() - startDate.getTime();
			const DAY_TIME =  24*60*60*1000;
			const days = interval / DAY_TIME;
			const amount = days * {{ad.price}};

			$('#days').text(days);
			$('#amount').text(amount.toLocaleString('fr-FR'));
		}

	}
  </script>
{% endblock %}
