{% extends 'admin/base.html.twig' %}
{% block title %} Administration des réservations de logement| {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5 text-center">Gestion des {{adBookings|length}} réservations de logement</h1>
		<table class="table table-hover" >
			<thead>
				<tr>
					<th class="text-center">Id</th>
					<th class="text-center">Date</th>
					<th class="text-center">Auteur</th>
                    <th class="text-center">Question</th>
                    <th class="text-center">Note</th>
                    <th class="text-center">Logement</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for adBooking in adBookings %}
				<tr>
					<td>{{adBooking.id}}</td>
                    <td>{{adBooking.createdAt|date('d/Y/m')}}</td>
					<td><img src="{{adBooking.adBooker.picture}}" alt="Avatar de {{adBooking.adBooker.fullName}}" class="rounded-circle avatar img-thumbnail mr-2">{{adBooking.adBooker.fullName}}</td>
                    <td>{{adBooking.comment|nl2br}}</td>
                    <td class="text-center"><span class="badge badge-pill badge-info">{{adBooking.ad.avgRatings| number_format(1,',','')}}<span class="badge badge-pill badge-info"></td>
                    <td>{{adBooking.ad.title}}</td>	
					<td>
						<a href="{{path('adminadbooking_edit', {'id':adBooking.id})}}" class="btn btn-warning"><i class="icon-edit2"></i></a>
						<a href="{{path('adminadbooking_delete', {'id':adBooking.id})}}" class="btn btn-danger"><i class="icon-trash-alt1"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		{# <div class="d-flex justify-content-center">
		  <ul class="pagination">
		    <li class="page-item {% if page == 1 %}disabled{% endif %}">
		      <a class="page-link" href="{{path('admin_ads_index', {'page':page - 1 })}}">&laquo;</a>
		    </li>
		    {% for i in 1..pagesNumber %}
		    <li class="page-item {% if page == i %}active{% endif %}">
		      <a class="page-link" href="{{path('admin_ads_index', {'page':i})}}">{{i}}</a>
		    </li>
			{% endfor %}
		    <li class="page-item {% if page == pagesNumber %}disabled{% endif %}">
		      <a class="page-link" href="{{path('admin_ads_index', {'page':page + 1 })}}">&raquo;</a>
		    </li>
		  </ul>
		</div> #}

	</div>
{% endblock %}
