<nav id="primary-menu" class="style-5 style-6">
    <ul>
        <li><a href="{{path('trip_new')}}"><div><i class="icon-paper-plane"></i>Créer un groupe de voyage</div></a>
        <li><a href="{{path('ad_new')}}"><div><i class="icon-line2-home"></i></i>Accueillir des voyageuses</div></a></li>
        <li><a href="#"><div><i class="icon-pencil2"></i>Blog</div></a></li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <i class="icon-caret-down" style="font-size: 15px; color:#fa6e59!important;"></i>
            <li>
                <a href="#">
                    <div ><i class="icon-user2"></i>Hello {{app.user.firstName}} </div>
                </a>
                <ul>
                    <li><a href="{{path('security_account')}}"><div><i class="icon-dashboard"></i>Mon profil</div></a></li>
                    <li><a href="{{path('security_profile')}}"><div><i class="icon-user-edit"></i>Modifier mon profil</div></a></li>
                    <li><a href="{{path('security_adbookings')}}"><div><i class="icon-archive1"></i>Mes biens réservés</div></a></li>
                    <li><a href="{{path('security_tripbookings')}}"><div><i class="icon-archive1"></i>Mes voyages réservés</div></a></li>
                    <li><a href="#"><div><i class="icon-line2-plane"></i>Mes voyages</div></a></li>
                    <li><a href="#"><div><i class="icon-line2-home"></i>Mes locations</div></a></li>
                    <div class="dropdown-divider"></div>
                    <li><a href="{{path('security_logout')}}"><div><i class="icon-line2-logout"></i>Déconnexion</div></a></li>
                </ul>
            </li>
         
                  {% if app.user.fileName %}
                        <img src="{{vich_uploader_asset(app.user, 'avatarFile') | imagine_filter('thumb')}}" class="alignleft img-circle img-thumbnail nomargin image_fade testi-image" alt="Avatar">
					{% else %}
						<img class="alignleft img-circle img-thumbnail nomargin image_fade testi-image" src="/images/img/avatardefault.jpg" alt="Photo de l'avatar par défaut de l'utilisatrice {{app.user.fullName}}">  
					{% endif %}  
        {% else %}
            <li class="bgcolor">
            	<a href="{{path('security_login')}}">
            		<div>
            			<i class="icon-users2"></i>
            			Se connecter
            		</div>
            	</a>
            </li>
            <li>
                <a href="{{path('security_register')}}">
            	    <div>
            			<i class="icon-line-file-add"></i>
            			S'inscrire
            		</div>
            	</a>
            </li>

       {% endif %}
    </ul>
</nav><!-- #primary-menu end -->
{% for label, messages in app.flashes %}

    {% for message in messages %}
        <a href="#" class="btn btn-{{label}}" data-notify-type="{{label}}" data-notify-position="top-full-width " data-notify-close=true data-notify-msg="<i class=icon-info-sign></i> {{message}}" onclick="SEMICOLON.widget.notifications(this); return false;">{{message}}</a>
    {% endfor %}

{% endfor %}

