{% extends 'base.html.twig' %}

{% block title %} Liste de tous les commentaires sur le voyage de {{user.fullName}} | {{parent()}}{% endblock %}

{% block body %}

<div id="slider" class="slider-element full-screen clearfix" style="background: url('/images/banners/banner5.jpg') center right no-repeat; background-size: cover; height:200px;"></div>
<section id="content">
    <div class="content-wrap">
		<div class="container clearfix">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{path('homepage')}}"><i class="icon-line2-home"></i> Accueil</a></li>
				<li class="breadcrumb-item active" aria-current="page"><a href="#"><i class="icon-list"></i> Liste des commentaires</a></li>
			</ol>
		</div>
        <section id="section-about" class="page-section">
            <div class="container clearfix">
                <div class="heading-block divcenter nobottomborder nobottommargin center">
                    <i class="icon-list1 d-block h1 mb-4" style="color:#f8a055;"></i> 
                </div>
				{% if app.user != user %}        
                <div class="heading-block center">
                    <h2> {{tripCommentsOnUser|length}} commentaires sur {{user.firstName}} et ses voyages</h2>
                    <p style ="font-family:'Roboto', sans-serif; color:#5d3e51; font-weight:bold;">{{app.user.firstName}}, tu trouveras la liste de tous les commentaires sur {{user.firstName}} et ses voyages.</p>
                </div>
				{% else %}
				<div class="heading-block center">
                    <h2> {{user.firstName}}, il y a  {{tripCommentsOnUser|length}} commentaires sur tes voyages </h2>
                    <p style ="font-family:'Roboto', sans-serif; color:#5d3e51; font-weight:bold;">Tu trouveras la liste de tous les commentaires sur tes voyages.</p>
                </div>
				{% endif %}
                <div class="postcontent nobottommargin">

						<div id="posts" class="events small-thumbs">
                            {% for tripComment in tripCommentsOnUser %}
							{% include 'trip_comment/_comment.html.twig' %}
                            {% endfor %}
                        
						</div>

						<!-- Pagination
						============================================= -->
						<div class="row mb-3">
							<div class="col-12">
								<a href="#" class="btn btn-outline-secondary float-left">&larr; Précédent</a>
								<a href="#" class="btn btn-outline-dark float-right">Suivant &rarr;</a>
							</div>
						</div>
						<!-- .pager end -->

				</div>
                	<div class="sidebar nobottommargin col_last clearfix">
						<div class="sidebar-widgets-wrap">

							<div class="widget clearfix">

								<div class="entry-title center">
										<h4 style="font-family:'Cabin Sketch', cursive;"><a href="#" style="color:#4897d8!important;" ><i class="icon-line2-home h1"></i> Nos dernières locations</a></h4>
								</div>
								<div id="post-list-footer">

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="#" class="nobg"><img src="images/events/thumbs/1.jpg" alt=""></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="#" class="nobg"><img src="images/events/thumbs/2.jpg" alt=""></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="#" class="nobg"><img src="images/events/thumbs/3.jpg" alt=""></a>
										</div>
										<div class="entry-c">
											<div class="entry-title center">
												<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

								</div>

							</div>

							<div class="widget clearfix">

								<div class="entry-title">
										<h4  style="font-family:'Cabin Sketch', cursive;"><a href="#" style="color:#4897d8!important;"><i class="icon-line-star h1"></i> Nos locations STARS </a></h4>
								</div>
								<div id="oc-portfolio-sidebar" class="owl-carousel carousel-widget" data-items="1" data-margin="10" data-loop="true" data-nav="false" data-autoplay="5000">

									<div class="oc-item">
										<div class="iportfolio">
											<div class="portfolio-image">
												<a href="#">
													<img src="images/events/thumbs/3.jpg" alt="Mac Sunglasses">
												</a>
												<div class="portfolio-overlay">
													<a href="http://vimeo.com/89396394" class="center-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
												</div>
											</div>
											<div class="portfolio-desc center nobottompadding">
												<h3><a href="portfolio-single-video.html">Inventore voluptates velit totam ipsa tenetur</a></h3>
												<span><a href="#">Melbourne, Australia</a></span>
											</div>
										</div>
									</div>

									<div class="oc-item">
										<div class="iportfolio">
											<div class="portfolio-image">
												<a href="portfolio-single.html">
													<img src="images/events/thumbs/1.jpg" alt="Open Imagination">
												</a>
												<div class="portfolio-overlay">
													<a href="images/portfolio/full/1.jpg" class="center-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
												</div>
											</div>
											<div class="portfolio-desc center nobottompadding">
												<h3><a href="portfolio-single.html">Nisi officia adipisci molestiae aliquam</a></h3>
												<span><a href="#">Perth, Australia</a></span>
											</div>
										</div>
									</div>

								</div>


							</div>

							<div class="widget clearfix">

								<h4>Recent Event in Video</h4>
								<iframe src="//player.vimeo.com/video/103927232" width="500" height="250" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

							</div>

							<div class="widget quick-contact-widget clearfix">

								<h4>Quick Contact</h4>
								<div class="quick-contact-form-result"></div>
								<form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">
									<div class="form-process"></div>

									<input type="text" class="required sm-form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
									<input type="text" class="required sm-form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
									<textarea class="required sm-form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
									<input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
									<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d nomargin" value="submit">Send Email</button>
								</form>


							</div>

						</div>
					</div>
            </div>
            
        </section>

       </div>
                        
        <div class="container clearfix"></div>       
</section>


{% endblock %}
