{% extends 'admin/base.html.twig' %}
{% block title %} Administration des commentaires sur les voyages| {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5 text-center">Gestion des {{tripComments|length}} commentaires sur les voyages</h1>
		<table class="table table-hover" >
			<thead>
				<tr>
					<th>Id</th>
					<th>Date</th>
					<th>Auteur</th>
                    <th>Commentaire</th>
					<th class="text-center">Note</th>
                    <th class="text-center">Voyage</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for tripComment in tripComments %}
				<tr>
					<td>{{tripComment.id}}</td>
					<td>{{tripComment.createdAt|date('d/Y/m')}}</td>
					<td><img src="{{tripComment.author.picture}}" alt="Avatar de {{tripComment.author.fullName}}" class="rounded-circle avatar img-thumbnail mr-2">{{tripComment.author.fullName}}</td>
                    <td>{{tripComment.content|nl2br}}</td>
					<td class="text-center"><span class="badge badge-pill badge-info">{{tripComment.rating }}</span></td>
					<td class="text-center">{{tripComment.trip.departure}} - {{tripComment.trip.arrival}}</td>
					<td>
						<a href="{{path('admintripcomment_edit', {'id':tripComment.id})}}" class="btn btn-warning"><i class="icon-edit2"></i></a>
						<a href="{{path('admintripcomment_delete', {'id':tripComment.id})}}" class="btn btn-danger"><i class="icon-trash-alt1"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		{# <div class="d-flex justify-content-center">
		  <ul class="pagination">
		    <li class="page-item {% if page == 1 %}disabled{% endif %}">
		      <a class="page-link" href="{{path('admin_ads_index', {'page':page - 1 })}}">&laquo;</a>
		    </li>
		    {% for i in 1..pagesNumber %}
		    <li class="page-item {% if page == i %}active{% endif %}">
		      <a class="page-link" href="{{path('admin_ads_index', {'page':i})}}">{{i}}</a>
		    </li>
			{% endfor %}
		    <li class="page-item {% if page == pagesNumber %}disabled{% endif %}">
		      <a class="page-link" href="{{path('admin_ads_index', {'page':page + 1 })}}">&raquo;</a>
		    </li>
		  </ul>
		</div> #}

	</div>
{% endblock %}
